<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
           {{title}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    Filter By:
                </div>
                <div class="col-md-5">
                    <input type="text" placeholder="Enter Search"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>{{filter}}</h4>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pen Drive</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <td>Brrom Stick</td>
                            <td>$2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>