<br/><br/>
<div class="panel panel-success">
    <div class="panel-heading">
        Reactive Forms
    </div>
    <div class="panel-body">
        <form (ngSubmit)="save()"
            novalidate
            [formGroup]="employeeForm">
            <div class="form-group"
                [ngClass]="{'has-error':(employeeForm.get('firstName').touched ||
                                        employeeForm.get('firstName').dirty) &&
                                        !employeeForm.get('firstName').valid}">
                <label class="col-md-3">FirstName</label>
                <div class="col-md-9">
                    <input class="form-control"
                            id="firstName"
                            type="text"
                            placeholder="Enter your first name"
                            formControlName="firstName"
                    />
                    <span class="help-block" *ngIf="(employeeForm.get('firstName').touched ||
                                                    employeeForm.get('firstName').dirty) &&
                                                    employeeForm.get('firstName').errors">
                        <span *ngIf="employeeForm.get('firstName').errors.required">  
                            Please enter firstName
                        </span>
                        <span *ngIf="employeeForm.get('firstName').errors.minlength">
                            Min length should be 3
                        </span>
                    </span>
                </div>

            </div>
            <br/><br/>
            <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('lastName').touched ||
                                                                employeeForm.get('lastName').dirty) &&
                                                              !employeeForm.get('lastName').valid}">
                    <label class="col-md-3">LastName</label>
                    <div class="col-md-9">
                        <input class="form-control"
                                id="lastName"
                                type="text"
                                placeholder="Enter your last name"
                                formControlName="lastName"
                        />
                        <span class="help-block" *ngIf="(employeeForm.get('lastName').touched ||
                                                        employeeForm.get('lastName').dirty) &&
                                                        employeeForm.get('lastName').errors">
                                <span *ngIf="employeeForm.get('lastName').errors.required">
                                    Please eenter lastname
                                </span>
                                <span *ngIf="employeeForm.get('lastName').errors.maxlength">
                                    Max length is 8
                                </span>
                        </span>
                    </div>
    
            </div><br/>
<!--
            <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('email').touched ||
                                                employeeForm.get('email').dirty) &&
                                                !employeeForm.get('email').valid}">
                <label class="col-md-3">Email</label>
                <div class="col-md-9">
                    <input class="form-control"
                    id="email"
                    type="text"
                    placeholder="enter your email"
                    formControlName="email"
                    />
                    <span class="help-block" *ngIf="(employeeForm.get('email').touched ||
                                                        employeeForm.get('email').dirty) &&
                                                        employeeForm.get('email').errors">
                                <span *ngIf="employeeForm.get('email').errors.required">
                                    Please eenter email
                                </span>
                                <span *ngIf="employeeForm.get('email').errors.pattern">
                                    please enter correct email 
                                </span>
                    </span>

                </div>
            </div>-->
<!---------/////////////////////////////////////////////////////////////////////-------------->
            <div formGroupName="emailGroup"
                    [ngClass]="{'has-error':employeeForm.get('emailGroup').errors}" >
                <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('emailGroup.email').touched ||
                                                employeeForm.get('emailGroup.email').dirty) &&
                                                !employeeForm.get('emailGroup.email').valid}">
                <label class="col-md-3">Email</label>
                <div class="col-md-9">
                    <input class="form-control"
                    id="email"
                    type="text"
                    placeholder="enter your email"
                    formControlName="email"
                    />
                    <span class="help-block" *ngIf="(employeeForm.get('emailGroup.email').touched ||
                                                       employeeForm.get('emailGroup.email').dirty) &&
                                                        employeeForm.get('emailGroup.email').errors">
                                <span *ngIf="employeeForm.get('emailGroup.email').errors.required">
                                    Please eenter email
                                </span>
                                <span *ngIf="employeeForm.get('emailGroup.email').errors.pattern">
                                    please enter correct email 
                                </span>
                    </span>

                </div>
            </div><br/>
            <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('emailGroup.confirmEmail').touched||
                                                employeeForm.get('employeeForm.confirmEmail').dirty)&&
                                                !employeeForm.get('employeeForm.confirmEmail').valid}">
                <label class="col-md-3 control-label" for="confirmEmail">Confirm Email</label>
                <div class="col-md-9">
                    <input class="form-control"
                    type="text"
                    id="confirmEmail"
                    placeholder="confirmEmail"
                    formControlName="confirmEmail"
                    />
                    <span class="help-block" *ngIf="(employeeForm.get('emailGroup.confirmEmail').touched||
                                                    employeeForm.get('employeeForm.confirmEmail').dirty)&&
                                                    employeeForm.get('employeeForm.confirmEmail').errors">
                        <span *ngIf="employeeForm.get('emailGroup.confirmEmail').errors.required">
                            Please enter confirm email
                        </span>
                        <span *ngIf="employeeForm.get('emailGroup.confirmEmail').errors.match">
                            Email Doesnt match
                        </span>                                                                                                                                                                     
                    </span>
                </div>
            </div>
        </div>
 <!---------/////////////////////////////////////////////////////////////////////-------------->           
            <br/><br/>
        
            <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('phone').touched ||
                                                                employeeForm.get('phone').dirty) &&
                                                                !employeeForm.get('phone').valid}">
                <label class="col-md-3 control-label" for="phone">
                    Phone
                </label>
                <div class="col-md-9">
                    <input class="form-control"
                        id="phone"
                        type="text"
                        placeholder="enterPhone"
                        formControlName="phone"/>
                    <span class="help-block" *ngIf="(employeeForm.get('phone').touched ||
                        employeeForm.get('phone').dirty) &&
                        employeeForm.get('phone').errors">
                        <span *ngIf="employeeForm.get('phone').errors.required">
                            Please eenter phone
                        </span>
                    </span>

                </div>
            </div><br/><br/>
            <div class="form-group">
                <label class="col-md-3 control-label">Send Notification</label>
                <div class="col-md-9">
                    <label class="radio-inline">
                        <input type="radio" value="phone" 
                            formControlName="notification"
                            (click)="setNotification('phone')"/>Phone
                    </label>
                    <label class="radio-inline">
                            <input type="radio" value="email" 
                                formControlName="notification"
                                (click)="setNotification('email')"/>Email
                    </label>
                </div>
            </div><br/><br/>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-success"
                            type="submit"
                            [disabled]="!employeeForm.valid">
                            Submit
                        </button>
                    </span>
                    &nbsp;&nbsp;
                    <span>
                        <button type="button"
                            class="btn btn-primary"
                            (click)="populateData()">
                            Test Data
                        </button>
                    </span>
                    &nbsp;&nbsp;
                    <span>
                        <button type="reset"
                            class="btn btn-danger">
                            Reset
                        </button>
                    </span>
                </div>
            </div>
            
    
        </form>
    </div>
</div>  